# Backend
backend/node_modules
backend/.env

# Frontend
frontend/node_modules
frontend/dist
frontend/.env

# General
.DS_Store
*.logandroid.keystore
app-release-signed.apk
app-release-signed.apk.idsig
app-release-unsigned-aligned.apk
app-release-bundle.aab
.gradle/
build/
app/
